<nb-card>
    <nb-card-header style="background-color: #35dc8e83;">
        <h4>Botzilla news</h4>
    </nb-card-header>
</nb-card>
<div class="col-md-12 col-xxxl-4">
    <nb-card accent="danger" [size]="breakpoint.width >= breakpoints.xxxl ? 'small' : 'medium'">
      <nb-card-header>
        <p>Computer-Based Weather Forecast: New Algorithm Outperforms Mainframe Computer Systems.</p>
      </nb-card-header>
      <nb-card-body class="body-news">
        <div class="image-div">
          <img class="image" src="../../../assets/images/news2.png" alt="kurac" style="max-width:100%;
          max-height:100%; border-radius: 1%;">
        </div>
         <div class="content-div">
          <p>  &nbsp; &nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Cum et quod hic officia doloremque, quo harum iste amet obcaecati,
              a saepe. Sed, reprehenderit exercitationem quae cum, asperiores rerum,
               architecto dolore est earum voluptate temporibus? Esse, numquam ipsa.
                Aperiam nesciunt aliquid iure quisquam vitae placeat amet at dignissimos totam.
                 Tempore in eius minus esse suscipit sed recusandae alias libero quos pariatur 
                 voluptates blanditiis similique sint quis modi dolores, laboriosam saepe beatae
                  eos sapiente quasi! Unde perferendis praesentium, voluptas deleniti illum totam 
                  nostrum accusamus, ratione quod autem adipisci optio odit assumenda eveniet odio,
                   perspiciatis ut at repellendus? Provident molestias voluptate veniam accusamus!</p>
         </div> 
          
      </nb-card-body>
      <nb-card-footer>
        <p style="float: right;">Post created: &nbsp; July 21, 2020</p>
      </nb-card-footer>
    </nb-card>
  </div>

  

