.body-news {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.image {
    max-width:100%;
    max-height:100%;
    border-radius: 1%;
}

.image-div {
    flex: 1;
    max-width: 100%;
    max-height: 100%;

}

.content-div {
    flex: 2;
    max-width: 100%;
    max-height: 100%;
    margin-left: 3%;
}



