
<!-- <button class="btn btn-primary" (click)="checkUrl()">Toggle</button> -->
<!-- .col-6 .col-sm-4 -->
<!-- <img src="../../../assets/about-us/cb.svg" alt="cb svg">
            <img src="../../../assets/about-us/cpu.svg" alt="cb svg">
            <img src="../../../assets/about-us/future.svg" alt="cb svg">
            <img src="../../../assets/about-us/mountain.svg" alt="cb svg"> -->


<div class="container">
    <div class="about-part">
        <div class="text-part">
            <h3>About us</h3>
            <p>We are passionate start-up looking o spread information to schools
                on how to code and create robots to do all kinds of interesting tasks
                for all future generations <br> upon us. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, minus.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere totam consequuntur <br> nostrum labore cumque
                 iusto nam sunt reiciendis exercitationem consequatur illum, nemo libero ab dicta aliquam commodi in vero ducimus 
                 praesentium eligendi, esse consectetur distinctio velit nihil? Obcaecati explicabo soluta pariatur tempore minima 
                 unde voluptas consequatur distinctio, sequi quod repudiandae.
            </p>
        </div>
        <div class="kutije">
            <div class="lokacija">	
                <div class="insidelokacija">
                    <p>Location</p>
                </div>
                <img src="../../../assets/about-us/pin.svg" alt="Lokacija">
                <br>
                <p>HQ Based in Croatia, Sisak, advancing to spread to different parts of the world!
                </p>
    
            </div>
    
            <div class="idea">
                <div class="insidelokacija">
                    <p>Idea</p>
                </div>
                <img src="../../../assets/about-us/lightbulb.svg" alt="Idea">
                <p>Our idea came up by pure
                    passion to educate our youth 
                    to make our world a better place generations to come!</p>
            </div>
    
            <div class="future">
                <div class="insidelokacija">
                    <p>Future</p>
                </div>
                <img src="../../../assets/about-us/future.svg" alt="Future">
                <p>Our future is bright and this
                    is just the beggining. We are
                    looking for more ways to expand and improve our product!</p>
            </div>
        </div>
    </div>
    
</div>

<div class="siva-linija">

</div>

<div class="container">
    <div class="teamwrap">
        <h1>Team</h1>
    
        <div class="team">
            <div class="vanja">
                <img src="../../../assets/about-us/vanja.jpg" alt="Avatar"> 
                <p class="team-member-name" >Vanja Torbica</p>
                <p class="team-member-title">UI/UX Designer</p>
            </div>
    
            <div class="nec">
                <img src="../../../assets/about-us/nec.jpg" alt="Avatar">
                <p class="team-member-name">Nevio Marjanovic</p>
                <p class="team-member-title">Software Engineer</p>
            </div>
    
            <div class="dodo">
             <img src="../../../assets/about-us/dodo.jpg" alt="Avatar">
             <p class="team-member-name">Dorian Tepic</p>
             <p class="team-member-title">Mechatronics Engineer</p>
             </div>
        </div>
    </div>
</div>