<div *ngFor="let email of emailContact" class="col-md-12 col-xxxl-12">
    <!-- <nb-card accent="info" [size]="breakpoint.width >= breakpoints.xxxl ? 'small' : 'medium'"> -->
    <nb-card accent="info" [size]="'large'">
      <nb-card-header>
        <label style="color: gray;">Name</label>
        <p>{{email.nameOfSender}}</p>
        <label style="color: gray;">E-Mail address</label>
        <p>{{email.emailAddress}}</p>
        <label style="color: gray;">Subject</label>
        <p>{{email.emailSubject.name}}</p>
      </nb-card-header>
      
      <nb-card-body  class="body-news">
        <div class="image-div">
            <label style="color: gray;">Message: </label>
        </div>
        <div class="content-div">
            <p>{{email.body}}</p>
        </div> 
          
      </nb-card-body>
      <nb-card-footer>
        <button  class=".col-md-1" (click)="openReplyMessageWindow(email.id)" nbButton hero status="primary" >Reply</button>
        <div *ngIf="email.isReplied" class="kurac">
          <nb-icon style="color: greenyellow; font-size: 30px;" icon="checkmark-outline"></nb-icon>
          <p style="display: inline; font-size: 12px;">Already replied</p>
        </div>
        
      </nb-card-footer>
    </nb-card>
  </div>

  
